@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Putting * here is used to apply style to every element  */
* {
  margin: 0;
  padding: 0;
  /* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height.
  If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width.
  This typically makes it much easier to size elements. */
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}
